/* CAMBIAR LAS LETRAS DEL PROYECTO
BOTONES (PRIMARIOS Y SECUNDARIOS),
*SEARCH (FILTER)*
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --first-color: #131b2e;
    --second-color: #ffffff;
    --third-color: #a1a1a1;
    --swiper-theme-color: #fff;
}

body {
    background-image: url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1351&q=80');
    backdrop-filter: blur(5px);
    background-size: cover;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: var( --third-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
     :root {
        --small-font-size: 0.938rem;
    }
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.l-navbar ul,
.l-navba li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/*=====  NAV =====*/

.l-navbar {
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    background-color: transparent;
    padding: 1.25rem .5rem 2rem;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2 .1rem;
}

.nav__logo-text {
    color: var(--third-color);
    font-weight: 700;
}

.nav__toggle {
    position: absolute;
    top: 1.10rem;
    right: -.6rem;
    width: 18px;
    height: 18px;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    color: var(--fuchsia-color);
    -webkit-transition: .3s;
    transition: .3s;
}

.nav__link:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.nav__text {
    font-weight: 700;
}


/*Show menu*/

.show {
    width: 306px;
    transition: 0.5s;
}


/*Rotate toggle*/

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s;
}


/*Active links menu*/

.active {
    background-color: var(--second-color);
    color: var(--first-color);
}


/*Add padding body*/

.expander {
    -webkit-transition: .5s;
    transition: .5s;
    filter: blur(8px);
    display: block;
    pointer-events: none;
}

.SAKE-slider .swiper-wrapper {
    padding: 20px 0;
}

.SAKE-slider .swiper-slide {
    transition: 250ms all;
}

.SAKE-slider .swiper-slide:hover {
    transform: scale(1.2);
    z-index: 1;
}

.SAKE-slider .swiper-slide:first-child:hover {
    margin: 0 40px;
}

.SAKE-slider .swiper-slide:last-child:hover {
    margin: 0 -40px;
}


/* GLOBAL VARIABLES */


/* PORTADAS*/

:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;
    /* 16px */
    --fontSmall: 0.625em;
    /* 10px */
    --fontMedium: 0.875em;
    /* 14px */
    --fontNormal: 1em;
    /* 16px */
    --fontLarge: 1.375em;
    /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.30s;
}

@keyframes zoom {
    from {
        object-position: 0 50%;
    }
    to {
        object-position: 100% 50%;
    }
}

.menu__list {
    text-align: center;
}

.menu__item {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--fontMedium);
    font-weight: var(--fontRegular);
    text-transform: uppercase;
    color: #a9a9a9;
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.menu__item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 6px;
    background: rgba(100, 100, 250, 1);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.menu__item:hover {
    color: rgba(150, 150, 255, 1);
}

.menu__item.active {
    color: rgba(100, 100, 250, 1);
}

.menu__item.active::after {
    width: 100%;
}

.cards {
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    height: 400px;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.cards__save {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards__save:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
}

.cards:hover .cards__save {
    opacity: 0.6;
}

.cards__save i {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards__save:hover i {
    color: rgba(255, 255, 255, 0.8);
}

.cards__save:active,
.cards__save.active {
    opacity: 1 !important;
}

.cards__save:active i,
.cards__save.active i {
    color: white;
}

.cards__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.cards__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cards:hover .cards__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
}

.cards__header {
    display: grid;
    width: 100%;
    height: 200px;
}

.cards__profile {
    align-self: center;
    justify-self: center;
    display: block;
    width: 10vmax;
    height: 10vmax;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.cards__profile img {
    -webkit-transform: scale(1.5, 1.5) translateZ(0);
    transform: scale(1.5, 1.5) translateZ(0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cards:hover .cards__profile img {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
}

.cards__body {
    display: grid;
    padding: 0 20px;
}

.cards__name {
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    font-size: var(--fontLarge);
    font-weight: var(--fontLight);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background: -webkit-linear-gradient(white, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards:hover .cards__name {
    background: -webkit-linear-gradient(white, #c1c1c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards__job {
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    letter-spacing: 0.35rem;
    color: rgba(100, 130, 200, 0.45);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards:hover .cards__job {
    color: rgba(100, 130, 200, 1);
}

.cards__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    margin: 22px 0 16px 0;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards:hover .cards__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.cards__footer {
    position: relative;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "date category";
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cards:hover .cards__footer {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


/* LETRAS*/

.cards__date {
    grid-area: date;
    display: inline-block;
    align-self: left;
    justify-self: left;
    font-size: 15px;
    font-weight: var(--fontLight);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(255, 255, 255, 0.959);
}


/* MODIFIERS */

.cards[data-effect="blur"]:hover .cards__image img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.cards[data-effect="blur"] .cards__image img {
    animation-name: blur;
}

.cards[data-effect="color"]:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
}

.cards[data-effect="color"] .cards__image {
    background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
}

.cards[data-effect="color"]:hover .cards__image img {
    opacity: 0.8;
}

.cards[data-effect="color"]:hover .cards__profile img {
    -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
    filter: grayscale(50%) contrast(80%) brightness(1.6);
    mix-blend-mode: normal;
}


/*  FIN DE PORTADAS*/