#form {
    width: 100px;
    padding-left: 10px;
    height: auto;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

#form input[type="radio"] {
    display: none;
}

#form label {
    color: grey;
}

#form.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#form label:hover,
#form label:hover~label {
    color: orange;
}

#form input[type="radio"]:checked~label {
    color: orange;
}

#upload-file {
    align-items: center;
}